<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @restaurant.cuisine_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Has 10bis:</strong>
  <%= @restaurant.has_10bis %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @restaurant.delivery_time %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
