<!DOCTYPE html>
<html>
  <head>
    <title>WeEat</title>
    <%= csrf_meta_tags %>

    <%=  stylesheet_pack_tag 'application'%>

  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAPS_API_KEY'] %>&v=3.exp&libraries=geometry,drawing,places"></script>
  </body>
</html>
